<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
  <![endif]-->
  <!--[if IE 7]>
  <html class="no-js lt-ie9 lt-ie8">
    <![endif]-->
    <!--[if IE 8]>
    <html class="no-js lt-ie9">
      <![endif]-->
      <!--[if gt IE 8]>
      <!-->
<html class="no-js">
      <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="COD3RS | Company building web applications">
    <meta name="author" content="Paweł Puchalski, Miłosz Osiński, Jacek Gałka">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="fb:app_id" content="" />
    <meta property="og:site_name" content="COD3RS" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/img/logo_symbol.png" />
    <meta property="og:title" content="COD3RS.co" />
    <meta property="og:url" content="http://cod3rs.co" />
    <meta property="og:description" content="We are group of friends who design, develop, integrate and maintain business applications." />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <title>COD3RS</title>
    <%= css :application %>
    <%= js :application %>
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  </head>
  <body>
    <!--[if lt IE 7]>
    <p class="browsehappy">
    You are using an <strong>outdated</strong>
    browser. Please
    <a href="http://browsehappy.com/">upgrade your browser</a>
    to improve your experience.
    </p>
    <![endif]-->

    <nav class="gs-navfix" id="gs-navfix">
      <div class="container-fullsize">
        <a href="/">
          <div class="gs-navfix-brand clearfix">
            <div class="gs-dark-logo"></div>
            <div class="gs-brand">COD<span class="gs-fw-semibold gs-fw-border-black">3</span>RS</div>
          </div>
        </a>
        <div class="gs-navfix-content">
          <a href="#home">HOMEPAGE</a>
          <a href="#about">ABOUT US</a>
          <a href="#portfolio">PORTFOLIO</a>
          <a href="#team">OUR TEAM</a>
          <a href="#pricing-table">PRICES</a>
          <a href="#contact">CONTACT</a>
          <i class="gs-hamburger icon-menu55"></i>
        </div>
      </div>
    </nav>

    <nav class="gs-nav-static" id="gs-nav-static">
      <div class="container-fullsize">
        <a href="/">
          <div class="gs-gold-brand">
            <div class="gs-logo"></div>
            <div class="gs-brand">COD<span class="gs-fw-semibold gs-fw-border-white">3</span>RS</div>
          </div>
        </a>
        <div class="gs-nav-static-hamburger">
          <div class="gs-title"></div>
          <div class="gs-icon" id="gs-nav-static-hamburger"><i class="icon-menu55 gs-hamburger"></i></div>
        </div>
      </div>
    </nav>

    <nav class="gs-nav-right" id="gs-nav-right">
      <i class="icon-menu55 gs-hamburger" id="gs-close-nav-right"></i>
      <div class="gs-nav-right-title">COD<span class="gs-fw-semibold gs-fw-border-white">3</span>RS</div>
      <div class="gs-nav-right-content">
        <a href="#home"><i class="icon-home-house-streamline"></i>HOMEPAGE</a>
        <a href="#about"><i class="icon-speech-streamline-talk-user"></i>ABOUT US</a>
        <a href="#service"><i class="icon-settings-streamline-2"></i>WHAT WE DO</a>
        <a href="#portfolio"><i class="icon-photo-pictures-streamline"></i>WORK WE’VE DONE</a>
        <a href="#testimonial"><i class="icon-bubble-comment-streamline-talk"></i>TESTIMONIALS</a>
        <a href="#client"><i class="icon-map-streamline-user"></i>CLIENTS</a>
        <a href="#team"><i class="icon-man-people-streamline-user"></i>OUR TEAM</a>
        <a href="#pricing-table"><i class="icon-streamline-suitcase-travel"></i>PRICING TABLE</a>
        <a href="#blog" style="display:none"><i class="icon-news"></i>BLOG</a>
        <a href="#contact"><i class="icon-map-pin-streamline"></i>CONTACT</a>
      </div>
    </nav>

    <main>

      <!-- header section -->
      <header id="home" class="gs-main-header-fullheight">
        <div class="gs-overlay-bg gs-header-bg" data-stellar-background-ratio="0.4"></div>
        <div class="gs-home-content-wrapper clearfix" id="gs-home-content">
          <div class="col-xs-12 gs-col-nopadding gs-home-slider-wrapper">
            <div class="gs-home-slider has-dots owl-light-theme owl-carousel gs-middle">
              <div class="gs-home-slider-item">
                <h1 class="gs-home-slider-caption gs-mg-b-60">HELLO, WELCOME TO<br>COD<span class="gs-fw-semibold" style="color:gray!important;background:white">3</span>RS</h1>
                <h1 class="gs-home-slider-caption gs-mg-b-60" style="display:none">HELLO, WELCOME TO<br>COD<span class="gs-fw-semibold" style="border:1px solid #FFF;">3</span>RS</h1>
                <div class="gs-home-slider-caption">
                  <a href="#about" class="gs-btn-icon-2">VIEW MORE</a>
                </div>
              </div>
              <div class="gs-home-slider-item">
                <h1 class="gs-home-slider-caption gs-mg-b-60">LOOKING FOR SIMPLE <br>AND CLEAN WEBSITE</h1>
                <div class="gs-home-slider-caption">
                  <a href="#about" class="gs-btn-icon-2">VIEW MORE</a>
                </div>
              </div>
              <div class="gs-home-slider-item">
                <h1 class="gs-home-slider-caption gs-mg-b-60">YOU WANT IT FAST<br>AND YOU WANT IT RIGHT</h1>
                <div class="gs-home-slider-caption">
                  <a href="#about" class="gs-btn-icon-2">VIEW MORE</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 gs-home-process">
            <div class="row">
              <div class="col-xs-3 gs-home-process-item gs-col-nopadding">
                <i class="gs-icon-large icon-design-pencil-rule-streamline"></i>
                <h5>DESIGN</h5>
                <div class="gs-home-process-divider">
                  <span></span>
                  <div class="gs-home-process-diamond"></div>
                  <span></span>
                </div>
                <p>
                  We create attractive and stunning design for clients.
                  <br>
                  To make it outstanding among others.
                </p>
              </div>
              <div class="col-xs-3 gs-home-process-item gs-col-nopadding">
                <i class="gs-icon-large icon-coffee-streamline"></i>
                <h5>Development</h5>
                <div class="gs-home-process-divider">
                  <span></span>
                  <div class="gs-home-process-diamond"></div>
                  <span></span>
                </div>
                <p>
                  After design finished, we can start the project.
                  <br>
                  You can always contact us to consult everyday.
                </p>
              </div>
              <div class="col-xs-3 gs-home-process-item gs-col-nopadding">
                <i class="gs-icon-large icon-bomb-bug"></i>
                <h5>Testing</h5>
                <div class="gs-home-process-divider">
                  <span></span>
                  <div class="gs-home-process-diamond"></div>
                  <span></span>
                </div>
                <p>
                  We write tests first as part of problem solving process.
                  <br>
                  And run tests often to ensure quality of the software.
                </p>
              </div>
              <div class="col-xs-3 gs-home-process-item gs-col-nopadding">
                <i class="gs-icon-large icon-dashboard-speed-streamline"></i>
                <h5>Launch</h5>
                <div class="gs-home-process-divider">
                  <span></span>
                  <div class="gs-home-process-diamond"></div>
                  <span></span>
                </div>
                <p>
                  You are not left alone after you launch your app.
                  <br>
                  We are here to help, resolve all issues or scale to handle traffic.
                </p>
              </div>
            </div>
          </div>
        </div>
      </header>

      <!-- About section -->
      <section id="about" class="gs-bg-light">
        <div class="container-fullsize">
          <div class="row">
            <header class="gs-section-header col-xs-12 text-center">
              <div class="gs-dark-logo gs-large-logo gs-mg-b-15"></div>
              <h2 class="gs-mg-b-30">WHO WE ARE?</h2>
              <p style="font-size: 18px">We are group of friends who design, develop, integrate and maintain business applications. <br> If you're an established company, we love figuring out what drives your business and making it better.</p>
            </header>
            <div class="about-wrapper col-xs-12">
              <div class="row">
                <div class="about-item about-left col-md-6 col-xs-12 clearfix gs-section-item">
                  <div class="about-content">
                    <h4>WE ARE DESIGNERS</h4>
                    <p>In keeping with the contemporary trends we create websites diverse in design; each with a unique concept that compliments the brand image and provides users with a one of a kind digital adventure.</p>
                  </div>
                  <div class="about-img">
                    <img src="img/about1.png" alt="about1" class="img-responsive" id="about-img-1">
                  </div>
                </div>
                <div class="about-item about-right col-md-6 col-xs-12 clearfix gs-section-item">
                  <div class="about-content">
                    <h4>WE ARE DEVELOPERS</h4>
                    <p>We streamline projects, eliminate time sucks and spend time only on things that add value, meaning we meet your goals and objectives in half the time.</p>
                  </div>
                  <div class="about-img">
                    <img src="img/about2.png" alt="about1" class="img-responsive">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="service" class="gs-bg-gray service">
      <div class="container-fullsize">
        <div class="row">
          <header class="gs-left-header-md col-xlg-4 col-md-6 col-xs-12 clearfix">
          <h4 class="gs-mg-t-10">WHAT WE DO?</h4>
          <hr>
          <p>We are a close-knit team of experienced strategists, designers and builders with complementary, often overlapping skill sets. We can take your project from genesis to launch to dedicated follow-through and maintenance. Or we can take on whatever piece of the project you’re missing.</p>
          </header>
          <div class="col-xlg-4 col-md-6 col-xs-12 gs-section-item">
            <div class="gs-service-item">
              <i class="gs-icon-medium icon icon-design-pencil-rule-streamline"></i>
              <h5>WEB DESIGN</h5>
              <p>We create attractive and stunning design for clients to make it outstanding among others as reflections of their business.Through pleasant and attentive consultations, we can find out what your taste is, whether it is a simple informational or a lavish multimedia site.</p>
            </div>
          </div>
          <!-- make service item view like have same height -->
          <span class="clearfix hidden-xlg"></span>
          <div class="col-xlg-4 col-md-6 col-xs-12 gs-section-item">
            <div class="gs-service-item">
              <i class="gs-icon-medium icon icon-data"></i>
              <h5>WEB APPLICATIONS</h5>
              <p>We are web application development company focused on changing the way our clients think about the web. Our apps are base with technologies like: Ruby on Rails, PHP, Ember.js and MongoDB, MySQL & PostgreSQL databases.</p>
            </div>
          </div>
          <!-- make service item view like have same height -->
          <span class="clearfix visible-xlg"></span>
          <div class="col-xlg-4 col-md-6 col-xs-12 gs-section-item">
            <div class="gs-service-item">
              <i class="gs-icon-medium icon icon-bag-shopping-streamline"></i>
              <h5>BRAND CONSULTING</h5>
              <p>Our efforts are focused on understanding your needs and familiarizing ourselves with your landscape. At the end of the day, our goal is to create long-lasting, differentiated brands that stand out in the marketplace. And we won't quit until we do.</p>
            </div>
          </div>
          <!-- make service item view like have same height -->
          <span class="clearfix hidden-xlg"></span>
          <div class="col-xlg-4 col-md-6 col-xs-12 gs-section-item">
            <div class="gs-service-item">
              <i class="gs-icon-medium icon icon-painting-pallet-streamline"></i>
              <h5>GRAPHIC DESIGN</h5>
              <p>Graphic Design is the Key to Creating a Unique Brand Identity, Connecting with Customers, and Developing Trust in Today’s Competitive World. We’ve applied our decades of experience to establish a small, efficient and effective agency that provides high-caliber graphic design at competitive prices.</p>
            </div>
          </div>
          <div class="col-xlg-4 col-md-6 col-xs-12 gs-section-item">
            <div class="gs-service-item">
              <i class="gs-icon-medium icon icon-settings-streamline"></i>
              <h5>SYSTEMS OPTIMIZATION</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed ligula odio. Sed id metus felis. Ut pretium nisl non justo condimentum id tincidunt nunc faucibus. Ut neque eros, pulvinar eu blandit quis, lacinia nec ipsum.</p>
            </div>
          </div>
        </div>
      </div>
      </section>

      <!-- Portfolio section -->
      <section id="portfolio" class="gs-bg-light">
        <div class="container-fullsize">
          <div class="row">
            <header class="col-xs-12">
              <h4>WORK WE'VE DONE</h4>
              <hr>
            </header>
          </div>
        </div>
        <div class="gs-portfolio-carousel owl-carousel gs-section-item noselect">
          <img src="img/projects/domirada_thumb.png" alt="portfolio-carousel-images">
          <img src="img/projects/gdanskcurlingclub_thumb.png" alt="portfolio-carousel-images">
          <img src="img/projects/osplesniewo_thumb.png" alt="portfolio-carousel-images">
          <img src="img/projects/conststeeler_thumb.jpg" alt="portfolio-carousel-images">
        </div>
        <div class="container-fullsize text-center gs-section-item">
          <a href="#" class="gs-btn-icon-1">VIEW MORE</a>
        </div>
      </section>

      <!-- tesimonial section -->
      <section id="testimonial" class="gs-bg-gray">
        <div class="container-fullsize">
          <div class="row">
            <header>
              <h4>WHAT CUSTOMERS ARE SAYING</h4>
              <hr>
            </header>
          </div>
        </div>
        <div class="gs-testimonial-carousel owl-carousel has-dots gs-section-item noselect">
          <div class="gs-testimonial-item">
            <div class="gs-testimonial-avatar">
              <img src="img/customers/perfekcyjne_strony.png" alt="avatar">
            </div>
            <q>
              After cooperating with many different web agencies, It was a pleasure working with the talented team at COD3RS. They have been able to raise my expectations which help us do better for our customers.
            </q>
            <h5 class="gs-testimonier gs-fw-semibold">ŁUKASZ KRZYŻOSZCZAK</h5>
            <h6 class="gs-testimonier gs-fw-semibold">Co-Founder at <a href="http://perfekcyjnestrony.pl/" target="_blank">perfekcyjnestrony.pl</a></h6>
          </div>
          <div class="gs-testimonial-item">
            <div class="gs-testimonial-avatar">
              <img src="img/customers/charmme.png" alt="avatar">
            </div>
            <q>
              After looking at a number of potential partners across the EU and US I chose COD3RS, and they’ve paid back that decision time and time again. I can’t recommend them highly enough.
            </q>
            <h5 class="gs-testimonier gs-fw-semibold">MAGDA ZYTKA</h5>
            <h6 class="gs-testimonier gs-fw-semibold">Founder at <a href="http://charmme.pl/" target="_blank">charmme.pl</a></h6>
          </div>
          <div class="gs-testimonial-item">
            <div class="gs-testimonial-avatar">
              <img src="img/customers/gdanskcurlingclub.png" alt="avatar">
            </div>
            <q>
              We rely on COD3RS for all our web (development) needs. The team is professional, responsive, and great folks with which to work. We had a need for a quick change on our website and they were able to handle our request in hours.
            </q>
            <h5 class="gs-testimonier gs-fw-semibold">HENRYK SKOWROŃSKI</h5>
            <h6 class="gs-testimonier gs-fw-semibold">Founder at <a href="http://gdanskcurlingclub.pl/" target="_blank">gdanskcurlingclub.pl</a></h6>
          </div>
        </div>
      </section>

      <!-- client section -->
      <section id="client" class="gs-bg-light">
        <div class="container-fullsize">
          <div class="row">
            <div class="col-xlg-4 col-xs-12">
              <header class="gs-left-header-xlg">
                <h4>OUR CLIENTS AROUND THE WORLD</h4>
                <hr>
              </header>
              <div class="gs-client-brand visible-xlg gs-section-item" style="display:none">
                <a href="#"><img src="img/brands/brand1.png" alt="brand"></a>
                <a href="#"><img src="img//brands/brand2.png" alt="brand"></a>
                <a href="#"><img src="img//brands/brand3.png" alt="brand"></a>
                <a href="#"><img src="img/brands/brand4.png" alt="brand"></a>
              </div>
              <div class="clearfix visible-xlg gs-section-item"><a href="#contact" class="gs-btn-3">CONTACT US</a></div>
            </div>
            <div class="col-xlg-8 col-xs-12 gs-section-item gs-mg-b-30">
              <div class="gs-client-map">
                <div class="gs-overlay">
                  <img src="img/map-overlay.png" alt="map">
                </div>
                <img src="img/map-bg.jpg" alt="map">
              </div>
            </div>
            <div class="col-xs-12 hidden-xlg">
              <div class="gs-client-brand gs-section-item" style="display:none">
                <a href="#"><img src="img/brands/brand1.png" alt="brand"></a>
                <a href="#"><img src="img//brands/brand2.png" alt="brand"></a>
                <a href="#"><img src="img//brands/brand3.png" alt="brand"></a>
                <a href="#"><img src="img/brands/brand4.png" alt="brand"></a>
              </div>
              <div class="text-center gs-section-item"><a href="#contact" class="gs-btn-3">CONTACT US</a></div>
            </div>
          </div>
        </div>
      </section>

      <!-- video section -->
      <section id="video" class="gs-bg-gray">
        <div class="gs-overlay ">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-md-3">
                <div class="company-stats-module text-center wow fadeInLeft animated animated" style="visibility: visible; -webkit-animation: fadeInLeft;">
                  <div class="company-stats-icon">
                    <span class="icon icon-code"></span>
                  </div>
                  <div class="company-stats-amount">
                    <span class="timer" data-from="0" data-to="26032">26032</span>
                  </div>
                  <div class="company-stats-desc">
                    <p>LINES OF CODE</p>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-3">
                <div class="company-stats-module text-center wow fadeInLeft animated animated" style="visibility: visible; -webkit-animation: fadeInLeft;">
                  <div class="company-stats-icon">
                    <span class="icon icon-cup"></span>
                  </div>
                  <div class="company-stats-amount">
                    <span class="timer" data-from="0" data-to="9286">286</span>
                  </div>
                  <div class="company-stats-desc">
                    <p>CUPS OF COFFEE</p>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-3">
                <div class="company-stats-module text-center wow fadeInRight animated animated" style="visibility: visible; -webkit-animation: fadeInRight;">
                  <div class="company-stats-icon">
                    <span class="icon icon-ribbon"></span>
                  </div>
                  <div class="company-stats-amount">
                    <span class="timer" data-from="0" data-to="31">31</span>
                  </div>
                  <div class="company-stats-desc">
                    <p>PROJECTS COMPLETED</p>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-3">
                <div class="company-stats-module text-center wow fadeInRight animated animated" style="visibility: visible; -webkit-animation: fadeInRight;">
                  <div class="company-stats-icon">
                    <span class="icon icon-like"></span>
                  </div>
                  <div class="company-stats-amount">
                    <span class="timer" data-from="0" data-to="731">31</span>
                  </div>
                  <div class="company-stats-desc">
                    <p>HAPPY CUSTOMERS</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Team section -->
      <section id="team" class="gs-bg-light">
        <div class="container-fullsize">
          <div class="row">
            <header class="col-xs-12">
              <h4>MEET OUR TEAM</h4>
              <hr>
            </header>
            <div class="col-md-4 col-sm-6 col-xs-12 gs-section-item">
              <div class="gs-team-item">
                <div class="gs-team-avatar">
                  <img src="img/team1.jpg" alt="avatar">
                  <div class="gs-team-social">
                    <a href="#"><i class="gs-icon-small icon-twitter"></i></a>
                    <a href="#"><i class="gs-icon-small icon-facebook"></i></a>
                    <a href="#"><i class="gs-icon-small icon-dribbble"></i></a>
                  </div>
                </div>
                <div class="gs-team-member">
                  <h5 class="gs-team-member-name">Jacek Gałka</h5>
                  <i>Founder</i>
                </div>
                <p>Seded ut perspiciatis unde omnis iste natus error sit voluptatem accusantium </p>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 gs-section-item">
              <div class="gs-team-item">
                <div class="gs-team-avatar">
                  <img src="img/team/me.jpg" alt="avatar">
                  <div class="gs-team-social">
                    <a href="http://m1l05z.pl" target="_blank"><i class="gs-icon-small icon-home"></i></a>
                    <a href="https://pl.linkedin.com/in/mosinski1" target="_blank"><i class="gs-icon-small icon-linkedin"></i></a>
                    <a href="https://github.com/mosinski" target="_blank"><i class="gs-icon-small icon-github"></i></a>
                  </div>
                </div>
                <div class="gs-team-member">
                  <h5 class="gs-team-member-name">Miłosz Osiński</h5>
                  <i>Ruby Developer</i>
                </div>
                <p>Miłosz is a heavy hitting Ruby coder.<br>He started working with Ruby and Rails in late 2010, and since then he has become an Open Source lover, contributing to many different projects.</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 gs-section-item">
              <div class="gs-team-item">
                <div class="gs-team-avatar">
                  <img src="img/team6.jpg" alt="avatar">
                  <div class="gs-team-social">
                    <a href="#"><i class="gs-icon-small icon-twitter"></i></a>
                    <a href="#"><i class="gs-icon-small icon-facebook"></i></a>
                    <a href="#"><i class="gs-icon-small icon-dribbble"></i></a>
                  </div>
                </div>
                <div class="gs-team-member">
                  <h5 class="gs-team-member-name">Paweł Puchalski</h5>
                  <i>Developer</i>
                </div>
                <p>Seded ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Pricing table section -->
      <section id="pricing-table" class="gs-bg-gray">
        <div class="container-fullsize">
          <div class="row">
            <header class="gs-left-header-xlg col-xlg-3 col-xs-12">
              <h4>PRICING TABLE</h4>
              <hr>
              <p>The following prices are indicative prices.</p>
            </header>
            <div class="pricing-table-group col-xlg-9 col-xs-12">
              <div class="row" id="gs-pricing-table-group">
                <div class="col-md-4 gs-section-item">
                  <div class="gs-pricing-table-item">
                    <div class="pricing-table-item-inner">
                      <i class="icon icon-envellope-mail-streamline gs-icon-medium"></i>
                      <h4>BASIC - $33</h4>
                      <h5>Easy Site</h5>
                      <div class="gs-pricing-table-content">
                        <hr>
                        <p><b>Price Per One Page</b></p>
                        <p>HTML5 / CSS3</p>
                        <p>Unlimited Pages</p>
                        <p>27/7 Support</p>
                      </div>
                      <button class="gs-pricing-table-button gs-btn-1"><span class="gs-active-content">BUY NOW</span><span class="gs-normal-content">READ MORE</span></button>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 gs-section-item">
                  <div class="gs-pricing-table-item active">
                    <div class="pricing-table-item-inner">
                      <i class="icon icon-backpack-streamline-trekking gs-icon-medium"></i>
                      <h4>PRO - $400</h4>
                      <h5>Shop / App</h5>
                      <div class="gs-pricing-table-content">
                        <hr>
                        <p><b>Ready To Used</b></p>
                        <p>Ruby on Rails</p>
                        <p>Ultimate Ideas</p>
                        <p>27/7 Support</p>
                      </div>
                      <button class="gs-pricing-table-button gs-btn-1"><span class="gs-active-content">BUY NOW</span><span class="gs-normal-content">READ MORE</span></button>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 gs-section-item">
                  <div class="gs-pricing-table-item">
                    <div class="pricing-table-item-inner">
                      <i class="icon icon-arrow-streamline-target gs-icon-medium"></i>
                      <h4>ULTIMATE - $$$</h4>
                      <h5>Advanced App</h5>
                      <div class="gs-pricing-table-content">
                        <hr>
                        <p><b>Your Needs</b></p>
                        <p>Any Technology</p>
                        <p>Web Design</p>
                        <p>Ultimate Ideas</p>
                        <p>Ultimate Support</p>
                      </div>
                      <button class="gs-pricing-table-button gs-btn-1"><span class="gs-active-content">BUY NOW</span><span class="gs-normal-content">READ MORE</span></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="blog" class="gs-bg-light" style="display:none">
        <div class="container-fullsize">
          <div class="row">
            <header class="col-xs-12">
              <h4>FROM THE BLOG</h4>
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed ligula odio. Sed id metus felis. Ut pretium nisl non justo condimentum id tincidunt nunc faucibus. Ut neque eros, pulvinar eu blandit quis, lacinia nec ipsum. Etiam vel orci ipsum. Sed eget velit ipsum. Duis in tortor scelerisque felis mattis imperdiet. Donec at libero tellus. Suspendisse consectetur consectetur bibendum.</p>
            </header>
            <div class="col-xs-12  gs-section-item">
              <div class="col-lg-6 col-xs-12 gs-col-nopadding gs-blog-present-item-large">
                <div class="gs-overlay">
                  <div class="gs-ab-center">
                    <p class="gs-blog-present-item-title">A LITTLE JOURNEY THROUGH (SMALL AND BIG)<br>E-COMMERCE WEBSITE</p>
                    <a href="blog.html" class="gs-btn-2">READ MORE</a>
                  </div>
                </div>
                <img src="img/Blog1.jpg" alt="blog-img">
              </div>
              <div class="col-lg-3 col-sm-6 col-xs-12 gs-col-nopadding gs-blog-present-item">
                <div class="gs-overlay">
                  <div class="gs-ab-bottom">
                    <a href="blog.html" class="gs-blog-present-link">A LITTLE JOURNEY THROUGH (SMALL AND BIG) E-COMMERCE WEBSITE</a>
                  </div>
                </div>
                <img src="img/Blog2.jpg" alt="blog-img">
              </div>
              <div class="col-lg-3 col-sm-6 col-xs-12 gs-col-nopadding gs-blog-present-item">
                <div class="gs-overlay">
                  <div class="gs-ab-bottom">
                    <a href="blog.html" class="gs-blog-present-link">A LITTLE JOURNEY THROUGH (SMALL AND BIG) E-COMMERCE WEBSITE</a>
                  </div>
                </div>
                <img src="img/Blog3.jpg" alt="blog-img">
              </div>
              <div class="col-lg-3 col-sm-6 col-xs-12 gs-col-nopadding gs-blog-present-item">
                <div class="gs-overlay">
                  <div class="gs-ab-bottom">
                    <a href="blog.html" class="gs-blog-present-link">A LITTLE JOURNEY THROUGH (SMALL AND BIG) E-COMMERCE WEBSITE</a>
                  </div>
                </div>
                <img src="img/Blog4.jpg" alt="blog-img">
              </div>
              <div class="col-lg-3 col-sm-6 col-xs-12 gs-col-nopadding gs-blog-present-item">
                <div class="gs-overlay">
                  <div class="gs-ab-bottom">
                    <a href="blog.html" class="gs-blog-present-link">A LITTLE JOURNEY THROUGH (SMALL AND BIG) E-COMMERCE WEBSITE</a>
                  </div>
                </div>
                <img src="img/Blog5.jpg" alt="blog-img">
              </div>
            </div>
            <div class="col-xs-12 gs-section-item text-center">
              <a href="blog.html" class="gs-btn-1">ALL POST</a>
            </div>
          </div>
        </div>
      </section>

      <!-- contact section -->
      <section id="contact" class="gs-bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-4 col-xs-12 gs-section-item">
            <div class="gs-contact-info">
              <h5>CONTACT INFO</h5>
              <dl>
                <dt><b>PHONE:</b> +444 123456789</dt>
                <dt><b>EMAIL:</b> contact@cod3rs.co</dt>
                <dt><b>WEB:</b> <a href="/" class="gs-main-color">www.cod3rs.co</a></dt>
              </dl>
            </div>
          </div>
          <div class="col-md-9 col-sm-8 col-xs-12 gs-section-item">
            <form class="gs-input-form" role="contact-form" method="post" action="/mail">
              <input class="gs-name" id="inputName" type="text" placeholder="Name">
              <input class="gs-email" id="inputEmail" type="email" placeholder="Email">
              <input class="gs-subject" id="inputSubject" type="text" placeholder="Subject">
              <textarea name="Content" id="inputText" placeholder="Content"></textarea>
              <button class="gs-btn-1" type="submit">SEND</button>
            </form>
          </div>
        </div>
      </div>
      </section>

      <!-- Main Footer -->
      <footer class="gs-main-footer">
        <div class="gs-footer-adv col-xs-12">
          <a href="#contact"><span>ARE YOU READY TO CREATE THE NEXT BIG THING?</span><i class="icon icon-hand61"></i></a>
        </div>
        <div class="gs-footer-content col-xs-12 gs-col-nopadding">
          <div class="container-fullsize">
            <div class="row">
              <div class="col-sm-8">© <%= Time.now.year %> COD3RS. ALLRIGHTS RESERVED</div>
              <div class="col-sm-4 footer-social">
                <a href="#" title="" class="icon-twitter"></a>
                <a href="#" title="" class="icon-facebook"></a>
                <a href="#" title="" class="icon-dribbble"></a>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </main>
  </body>
</html>
