<div id="mailsub" class="notification" align="center">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width: 320px;">
    <tr>
      <td align="center" bgcolor="#eff3f8">
        <table border="0" cellspacing="0" cellpadding="0" class="table_width_100" width="100%" style="max-width: 680px; min-width: 300px;">
          <tr>
            <td>
              <div style="height: 80px; line-height: 80px; font-size: 10px;"> </div>
            </td>
          </tr>
          <tr>
            <td align="center" bgcolor="#ffffff">
              <div style="height: 30px; line-height: 30px; font-size: 10px;"> </div>
              <table width="90%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td align="left">
                    <div class="mob_center_bl" style="float: left; display: inline-block; width: 125px;">
                      <table class="mob_center" width="125" border="0" cellspacing="0" cellpadding="0" align="left" style="border-collapse: collapse;">
                        <tr>
                          <td align="left" valign="middle">
                            <div style="height: 20px; line-height: 20px; font-size: 10px;"> </div>
                            <table width="125" border="0" cellspacing="0" cellpadding="0" >
                              <tr>
                                <td align="left" valign="top" class="mob_center">
                                  <a href="http://cod3rs.co/" target="_blank" style="color: #596167; font-family: Arial, Helvetica, sans-serif;text-decoration: none">
                                    <div style="float:left;width:34px;height:35px">
                                      <img src="http://cod3rs.co/logo-black_cut.png" width="34" height="35" alt="Logo" border="0" style="display: block" />
                                    </div>
                                    <div style="line-height:35px;font-size:20px;">COD<span style="border: 1px solid #000;padding: 1px;display:inline">3</span>RS</div>
                                  </a>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </div>
                    <div class="mob_center_bl" style="float: right; display: inline-block; width: 88px;">
                      <table width="88" border="0" cellspacing="0" cellpadding="0" align="right" style="border-collapse: collapse;">
                        <tr>
                          <td align="right" valign="middle">
                            <div style="height: 20px; line-height: 20px; font-size: 10px;"> </div>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" >
                              <tr>
                                <td align="right">
                                  <div class="mob_center_bl" style="width: 88px;">
                                    <table border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td width="30" align="center" style="line-height: 19px;">
                                          <a href="https://www.facebook.com/cod3rs.co" target="_blank" style="color: #596167; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
                                            <font face="Arial, Helvetica, sans-serif" size="2" color="#596167">
                                              <img src="http://artloglab.com/metromail/images/facebook.gif" width="10" height="19" alt="Facebook" border="0" style="display: block;" />
                                            </font>
                                          </a>
                                        </td>
                                      </tr>
                                    </table>
                                  </div>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </td>
                </tr>
              </table>
              <div style="height: 30px; line-height: 30px; font-size: 10px;"> </div>
            </td>
          </tr>
          <tr>
            <td align="center" bgcolor="#fbfcfd">
              <table width="90%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td align="center">
                    <div style="height: 50px; line-height: 60px; font-size: 10px;"> </div>
                    <div style="line-height: 44px;">
                      <font face="Arial, Helvetica, sans-serif" size="5" color="#57697e" style="font-size: 34px;">
                        <span style="font-family: Arial, Helvetica, sans-serif; font-size: 34px; color: #57697e;">
                          Hello <%= name %>
                        </span>
                      </font>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td align="center">
                    <div style="line-height: 24px;">
                      <font face="Arial, Helvetica, sans-serif" size="3" color="#4db3a4" style="font-size: 14px;">
                        <strong style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #4db3a4;">
                          <a style="color: #4db3a4; text-decoration: none;">Here's the e-mail sent by You to the contact@cod3rs.co</a>
                        </strong>
                      </font>
                    </div>
                    <div style="height: 40px; line-height: 40px; font-size: 10px;"> </div>
                  </td>
                </tr>
                <tr>
                  <td align="center">
                    <div style="line-height: 24px;">
                      <font face="Arial, Helvetica, sans-serif" size="4" color="#57697e" style="font-size: 15px;">
                        <span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #57697e;">
                          <%= text %>
                        </span>
                      </font>
                    </div>
                    <div style="height: 40px; line-height: 40px; font-size: 10px;"> </div>
                  </td>
                </tr>
                <tr>
                  <td align="center">
                    <div>
                      <font face="Arial, Helvetica, sans-serif" size="3" color="#57697e" style="font-size: 26px;">
                        <span style="font-family: Arial, Helvetica, sans-serif; font-size: 26px; color: #57697e;">
                          We'll be in touch soon.
                        </span>
                      </font>
                    </div>
                    <div style="height: 40px; line-height: 60px; font-size: 10px;"> </div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td class="iage_footer" align="center" bgcolor="#ffffff">
              <div style="height: 80px; line-height: 80px; font-size: 10px;"> </div>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td align="center">
                    <font face="Arial, Helvetica, sans-serif" size="3" color="#96a5b5" style="font-size: 13px;">
                      <span style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #96a5b5;">
                        2015 © COD3RS. ALL Rights Reserved.
                      </span>
                    </font>
                  </td>
                </tr>
              </table>
              <div style="height: 30px; line-height: 30px; font-size: 10px;"> </div>
            </td>
          </tr>
          <tr>
            <td>
              <div style="height: 80px; line-height: 80px; font-size: 10px;">
                This email was automatically generated then sent to <%= email %> and contact@cod3rs.co
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
