<div id="home">
  <div class="slider-wrapper">
    <div class="responisve-container">
      <div class="slider">
        <div class="fs_loader"></div>
        <div class="slide">
          <img src="img/GS.png" width="849" height="849" data-position="-40,-117" data-in="bottomRight" data-delay="200">
          <img src="img/yoda-logo.png" width="294" height="330" data-position="52,642" data-in="left" data-delay="200" data-out="right">

          <p class="claim light-green" data-position="60,30" data-in="top" data-step="1" data-out="top" data-ease-in="easeOutBounce">
          Always look on the bright side of code
          </p>

          <p class="teaser orange" data-position="120,30" data-in="left" data-step="2" data-delay="500">
          clean code
          </p>
          <p class="teaser orange" data-position="120,30" data-in="left" data-step="2" data-special="cycle" data-delay="3000">
          modern look
          </p>
          <p class="teaser orange" data-position="120,30" data-in="left" data-step="2" data-special="cycle" data-delay="5500" data-out="none">
          advanced technology
          </p>
        </div>
        <div class="slide" data-in="slideLeft">
          <img src="img/tekstSW.png" data-position="0,0" data-in="bottom" data-delay="0" data-out="fade">
          <img src="img/cyborg_05.png"  data-position="25,685" data-in="fade" data-delay="100" data-out="right">

          <p class="claim light-green small" data-position="60,50" data-in="top" data-step="1" data-out="top">
          What does it mean
          </p>
          <p class="teaser orange small" data-position="120,50" data-in="bottom" data-step="2" data-delay="500">
          simply webside
          </p>
          <p class="teaser orange small" data-position="150,50" data-in="bottom" data-step="2" data-delay="1500">
          advanced portal
          </p>
          <p class="teaser orange small" data-position="180,50" data-in="bottom" data-step="2" data-delay="2500">
          effective store
          </p>
          <p class="teaser orange small" data-position="210,50" data-in="bottom" data-step="2" data-delay="3500">
          web aplication
          </p>
          <p class="teaser orange small" data-position="240,50" data-in="bottom" data-step="2" data-delay="4500">
          every your idea
          </p>

          <img src="" data-position="105,180" data-in="fade" data-delay="500" data-out="bottomRight">
        </div>
        <div class="slide">
          <img src="img/symbol_republic.png" data-position="-320,130" data-in="bottomLeft" data-delay="100" data-out="fade" style="width:auto; height:auto">
          <img src="img/symbol05.png" width="400" height="400"data-position="52,46" data-in="bottomLeft" data-delay="100" data-out="fade">
          <img src="img/symbol06.png" width="300" height="300" data-position="250,830" data-in="bottomLeft" data-delay="100" data-out="fade">
          <img src="img/logo_symbol_01_chrom.png" width="300" height="300" data-position="100,100" data-in="bottomRight" data-delay="200">

          <p class="claim light-green" data-position="60,40" data-in="top" data-step="1" data-out="top" data-ease-in="easeOutBounce">
          May the Force be with you
          </p>

          <img src="img/robot_01_shadow.png" width="66" height="107" data-position="40,970" data-in="left" data-delay="100" data-out="right">
          <img src="img/robot_01_shadow.png" width="73" height="118" data-position="50,962" data-in="left" data-delay="200" data-out="right">
          <img src="img/robot_01_shadow.png" width="81" height="131" data-position="60,946" data-in="left" data-delay="300" data-out="right">
          <img src="img/robot_01_shadow.png" width="90" height="145" data-position="70,922" data-in="left" data-delay="400" data-out="right">
          <img src="img/robot_01_shadow.png" width="99" height="161" data-position="80,890" data-in="left" data-delay="500" data-out="right">
          <img src="img/robot_01_shadow.png" width="110" height="178" data-position="90,850" data-in="left" data-delay="600" data-out="right">
          <img src="img/robot_01_shadow.png" width="122" height="197" data-position="100,802" data-in="left" data-delay="400" data-out="right">
          <img src="img/robot_01_shadow.png" width="135" height="218" data-position="110,746" data-in="left" data-delay="500" data-out="right">
          <img src="img/robot_01_shadow.png" width="149" height="242" data-position="120,682" data-in="left" data-delay="600" data-out="right">
          <img src="img/robot_04.png" width="165" height="268" data-position="130,610" data-in="left" data-delay="700" data-out="left">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content-skills" id="skills">
  <div class="container">
    <h2 class="heading text-center">
      <div class="box">Skills</div>
    </h2>
    <div class="row">
      <div class="col-md-6">
        <p class="lead description">
          We are group of friends who design, develop, integrate and maintain business applications.
          If you're an established company, we love figuring out what drives your business and making it better.
        </p>
        <div class="socials">
          <a href="http://rubyonrails.org/" target="_blank"><img class="img-responsive grayscale" src="img/socials/rails.png" alt="ruby on rails" title="ruby on rails"></a>
          <a href="http://jquery.com/" target="_blank"><img class="img-responsive grayscale" src="img/socials/jquery.png" alt="jquery" title="jquery"></a>
          <a href="https://www.drupal.org/" target="_blank"><img class="img-responsive grayscale" src="img/socials/drupal.png" alt="drupal" title="drupal"></a>
          <a href="https://wordpress.org/" target="_blank"><img class="img-responsive grayscale" src="img/socials/wordpress.png" alt="wordpress" title="wordpress"></a>
          <a href="http://www.joomla.pl/" target="_blank"><img class="img-responsive grayscale" src="img/socials/joomla.png" alt="joomla" title="joomla"></a>
        </div>
      </div>
      <div class="col-md-6">
        <img src="img/rycerz_01.png" class="hidden-xs hidden-sm obiwan-img" />
      </div>
    </div>
    <div class="row circle-progress">
      <div class="col-xs-12 col-sm-4 col-md-2">
        <div>
          <div class="radial-progress html-progress" data-progress="0">
            <div class="circle">
              <div class="mask full">
                <div class="fill"></div>
              </div>
              <div class="mask half">
                <div class="fill"></div>
                <div class="fill fix"></div>
              </div>
              <div class="shadow"></div>
            </div>
            <div class="inset">
              <div class="percentage">
                <div class="numbers"><span>-</span><span>0%</span><span>1%</span><span>2%</span><span>3%</span><span>4%</span><span>5%</span><span>6%</span><span>7%</span><span>8%</span><span>9%</span><span>10%</span><span>11%</span><span>12%</span><span>13%</span><span>14%</span><span>15%</span><span>16%</span><span>17%</span><span>18%</span><span>19%</span><span>20%</span><span>21%</span><span>22%</span><span>23%</span><span>24%</span><span>25%</span><span>26%</span><span>27%</span><span>28%</span><span>29%</span><span>30%</span><span>31%</span><span>32%</span><span>33%</span><span>34%</span><span>35%</span><span>36%</span><span>37%</span><span>38%</span><span>39%</span><span>40%</span><span>41%</span><span>42%</span><span>43%</span><span>44%</span><span>45%</span><span>46%</span><span>47%</span><span>48%</span><span>49%</span><span>50%</span><span>51%</span><span>52%</span><span>53%</span><span>54%</span><span>55%</span><span>56%</span><span>57%</span><span>58%</span><span>59%</span><span>60%</span><span>61%</span><span>62%</span><span>63%</span><span>64%</span><span>65%</span><span>66%</span><span>67%</span><span>68%</span><span>69%</span><span>70%</span><span>71%</span><span>72%</span><span>73%</span><span>74%</span><span>75%</span><span>76%</span><span>77%</span><span>78%</span><span>79%</span><span>80%</span><span>81%</span><span>82%</span><span>83%</span><span>84%</span><span>85%</span><span>86%</span><span>87%</span><span>88%</span><span>89%</span><span>90%</span><span>91%</span><span>92%</span><span>93%</span><span>94%</span><span>95%</span><span>96%</span><span>97%</span><span>98%</span><span>99%</span><span>100%</span></div>
              </div>
            </div>
          </div>

          <p class="lead">
            <span>HTML5 / CSS3</span>
          </p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-2">
        <div>
          <div class="radial-progress js-progress" data-progress="0">
            <div class="circle">
              <div class="mask full">
                <div class="fill"></div>
              </div>
              <div class="mask half">
                <div class="fill"></div>
                <div class="fill fix"></div>
              </div>
              <div class="shadow"></div>
            </div>
            <div class="inset">
              <div class="percentage">
                <div class="numbers"><span>-</span><span>0%</span><span>1%</span><span>2%</span><span>3%</span><span>4%</span><span>5%</span><span>6%</span><span>7%</span><span>8%</span><span>9%</span><span>10%</span><span>11%</span><span>12%</span><span>13%</span><span>14%</span><span>15%</span><span>16%</span><span>17%</span><span>18%</span><span>19%</span><span>20%</span><span>21%</span><span>22%</span><span>23%</span><span>24%</span><span>25%</span><span>26%</span><span>27%</span><span>28%</span><span>29%</span><span>30%</span><span>31%</span><span>32%</span><span>33%</span><span>34%</span><span>35%</span><span>36%</span><span>37%</span><span>38%</span><span>39%</span><span>40%</span><span>41%</span><span>42%</span><span>43%</span><span>44%</span><span>45%</span><span>46%</span><span>47%</span><span>48%</span><span>49%</span><span>50%</span><span>51%</span><span>52%</span><span>53%</span><span>54%</span><span>55%</span><span>56%</span><span>57%</span><span>58%</span><span>59%</span><span>60%</span><span>61%</span><span>62%</span><span>63%</span><span>64%</span><span>65%</span><span>66%</span><span>67%</span><span>68%</span><span>69%</span><span>70%</span><span>71%</span><span>72%</span><span>73%</span><span>74%</span><span>75%</span><span>76%</span><span>77%</span><span>78%</span><span>79%</span><span>80%</span><span>81%</span><span>82%</span><span>83%</span><span>84%</span><span>85%</span><span>86%</span><span>87%</span><span>88%</span><span>89%</span><span>90%</span><span>91%</span><span>92%</span><span>93%</span><span>94%</span><span>95%</span><span>96%</span><span>97%</span><span>98%</span><span>99%</span><span>100%</span></div>
              </div>
            </div>
          </div>

          <p class="lead">
            <span>Javascript</span>
          </p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-2">
        <div>
          <div class="radial-progress ruby-progress" data-progress="0">
            <div class="circle">
              <div class="mask full">
                <div class="fill"></div>
              </div>
              <div class="mask half">
                <div class="fill"></div>
                <div class="fill fix"></div>
              </div>
              <div class="shadow"></div>
            </div>
            <div class="inset">
              <div class="percentage">
                <div class="numbers"><span>-</span><span>0%</span><span>1%</span><span>2%</span><span>3%</span><span>4%</span><span>5%</span><span>6%</span><span>7%</span><span>8%</span><span>9%</span><span>10%</span><span>11%</span><span>12%</span><span>13%</span><span>14%</span><span>15%</span><span>16%</span><span>17%</span><span>18%</span><span>19%</span><span>20%</span><span>21%</span><span>22%</span><span>23%</span><span>24%</span><span>25%</span><span>26%</span><span>27%</span><span>28%</span><span>29%</span><span>30%</span><span>31%</span><span>32%</span><span>33%</span><span>34%</span><span>35%</span><span>36%</span><span>37%</span><span>38%</span><span>39%</span><span>40%</span><span>41%</span><span>42%</span><span>43%</span><span>44%</span><span>45%</span><span>46%</span><span>47%</span><span>48%</span><span>49%</span><span>50%</span><span>51%</span><span>52%</span><span>53%</span><span>54%</span><span>55%</span><span>56%</span><span>57%</span><span>58%</span><span>59%</span><span>60%</span><span>61%</span><span>62%</span><span>63%</span><span>64%</span><span>65%</span><span>66%</span><span>67%</span><span>68%</span><span>69%</span><span>70%</span><span>71%</span><span>72%</span><span>73%</span><span>74%</span><span>75%</span><span>76%</span><span>77%</span><span>78%</span><span>79%</span><span>80%</span><span>81%</span><span>82%</span><span>83%</span><span>84%</span><span>85%</span><span>86%</span><span>87%</span><span>88%</span><span>89%</span><span>90%</span><span>91%</span><span>92%</span><span>93%</span><span>94%</span><span>95%</span><span>96%</span><span>97%</span><span>98%</span><span>99%</span><span>100%</span></div>
              </div>
            </div>
          </div>

          <p class="lead">
            <span>Ruby</span>
          </p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-2">
        <div>
          <div class="radial-progress cs-progress" data-progress="0">
            <div class="circle">
              <div class="mask full">
                <div class="fill"></div>
              </div>
              <div class="mask half">
                <div class="fill"></div>
                <div class="fill fix"></div>
              </div>
              <div class="shadow"></div>
            </div>
            <div class="inset">
              <div class="percentage">
                <div class="numbers"><span>-</span><span>0%</span><span>1%</span><span>2%</span><span>3%</span><span>4%</span><span>5%</span><span>6%</span><span>7%</span><span>8%</span><span>9%</span><span>10%</span><span>11%</span><span>12%</span><span>13%</span><span>14%</span><span>15%</span><span>16%</span><span>17%</span><span>18%</span><span>19%</span><span>20%</span><span>21%</span><span>22%</span><span>23%</span><span>24%</span><span>25%</span><span>26%</span><span>27%</span><span>28%</span><span>29%</span><span>30%</span><span>31%</span><span>32%</span><span>33%</span><span>34%</span><span>35%</span><span>36%</span><span>37%</span><span>38%</span><span>39%</span><span>40%</span><span>41%</span><span>42%</span><span>43%</span><span>44%</span><span>45%</span><span>46%</span><span>47%</span><span>48%</span><span>49%</span><span>50%</span><span>51%</span><span>52%</span><span>53%</span><span>54%</span><span>55%</span><span>56%</span><span>57%</span><span>58%</span><span>59%</span><span>60%</span><span>61%</span><span>62%</span><span>63%</span><span>64%</span><span>65%</span><span>66%</span><span>67%</span><span>68%</span><span>69%</span><span>70%</span><span>71%</span><span>72%</span><span>73%</span><span>74%</span><span>75%</span><span>76%</span><span>77%</span><span>78%</span><span>79%</span><span>80%</span><span>81%</span><span>82%</span><span>83%</span><span>84%</span><span>85%</span><span>86%</span><span>87%</span><span>88%</span><span>89%</span><span>90%</span><span>91%</span><span>92%</span><span>93%</span><span>94%</span><span>95%</span><span>96%</span><span>97%</span><span>98%</span><span>99%</span><span>100%</span></div>
              </div>
            </div>
          </div>

          <p class="lead">
            <span>C#</span>
          </p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-2">
        <div>
          <div class="radial-progress sql-progress" data-progress="0">
            <div class="circle">
              <div class="mask full">
                <div class="fill"></div>
              </div>
              <div class="mask half">
                <div class="fill"></div>
                <div class="fill fix"></div>
              </div>
              <div class="shadow"></div>
            </div>
            <div class="inset">
              <div class="percentage">
                <div class="numbers"><span>-</span><span>0%</span><span>1%</span><span>2%</span><span>3%</span><span>4%</span><span>5%</span><span>6%</span><span>7%</span><span>8%</span><span>9%</span><span>10%</span><span>11%</span><span>12%</span><span>13%</span><span>14%</span><span>15%</span><span>16%</span><span>17%</span><span>18%</span><span>19%</span><span>20%</span><span>21%</span><span>22%</span><span>23%</span><span>24%</span><span>25%</span><span>26%</span><span>27%</span><span>28%</span><span>29%</span><span>30%</span><span>31%</span><span>32%</span><span>33%</span><span>34%</span><span>35%</span><span>36%</span><span>37%</span><span>38%</span><span>39%</span><span>40%</span><span>41%</span><span>42%</span><span>43%</span><span>44%</span><span>45%</span><span>46%</span><span>47%</span><span>48%</span><span>49%</span><span>50%</span><span>51%</span><span>52%</span><span>53%</span><span>54%</span><span>55%</span><span>56%</span><span>57%</span><span>58%</span><span>59%</span><span>60%</span><span>61%</span><span>62%</span><span>63%</span><span>64%</span><span>65%</span><span>66%</span><span>67%</span><span>68%</span><span>69%</span><span>70%</span><span>71%</span><span>72%</span><span>73%</span><span>74%</span><span>75%</span><span>76%</span><span>77%</span><span>78%</span><span>79%</span><span>80%</span><span>81%</span><span>82%</span><span>83%</span><span>84%</span><span>85%</span><span>86%</span><span>87%</span><span>88%</span><span>89%</span><span>90%</span><span>91%</span><span>92%</span><span>93%</span><span>94%</span><span>95%</span><span>96%</span><span>97%</span><span>98%</span><span>99%</span><span>100%</span></div>
              </div>
            </div>
          </div>

          <p class="lead">
            <span>SQL</span>
          </p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-2">
        <div>
          <div class="radial-progress ps-progress" data-progress="0">
            <div class="circle">
              <div class="mask full">
                <div class="fill"></div>
              </div>
              <div class="mask half">
                <div class="fill"></div>
                <div class="fill fix"></div>
              </div>
              <div class="shadow"></div>
            </div>
            <div class="inset">
              <div class="percentage">
                <div class="numbers"><span>-</span><span>0%</span><span>1%</span><span>2%</span><span>3%</span><span>4%</span><span>5%</span><span>6%</span><span>7%</span><span>8%</span><span>9%</span><span>10%</span><span>11%</span><span>12%</span><span>13%</span><span>14%</span><span>15%</span><span>16%</span><span>17%</span><span>18%</span><span>19%</span><span>20%</span><span>21%</span><span>22%</span><span>23%</span><span>24%</span><span>25%</span><span>26%</span><span>27%</span><span>28%</span><span>29%</span><span>30%</span><span>31%</span><span>32%</span><span>33%</span><span>34%</span><span>35%</span><span>36%</span><span>37%</span><span>38%</span><span>39%</span><span>40%</span><span>41%</span><span>42%</span><span>43%</span><span>44%</span><span>45%</span><span>46%</span><span>47%</span><span>48%</span><span>49%</span><span>50%</span><span>51%</span><span>52%</span><span>53%</span><span>54%</span><span>55%</span><span>56%</span><span>57%</span><span>58%</span><span>59%</span><span>60%</span><span>61%</span><span>62%</span><span>63%</span><span>64%</span><span>65%</span><span>66%</span><span>67%</span><span>68%</span><span>69%</span><span>70%</span><span>71%</span><span>72%</span><span>73%</span><span>74%</span><span>75%</span><span>76%</span><span>77%</span><span>78%</span><span>79%</span><span>80%</span><span>81%</span><span>82%</span><span>83%</span><span>84%</span><span>85%</span><span>86%</span><span>87%</span><span>88%</span><span>89%</span><span>90%</span><span>91%</span><span>92%</span><span>93%</span><span>94%</span><span>95%</span><span>96%</span><span>97%</span><span>98%</span><span>99%</span><span>100%</span></div>
              </div>
            </div>
          </div>

          <p class="lead">
            <span>Photoshop</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content-projects" id="portfolio">
  <div class="container">
    <h2 class="heading text-center">
      <div class="box">Portfolio</div>
    </h2>
    <div class="row form-group">
      <div class="col-xs-12 col-md-4">
        <div class="panel panel-default">
          <div class="panel-image">
            <img src="img/projects/gumsnipp_thumb.png" class="panel-image-preview" />
            <label for="toggle-1"></label>
          </div>
          <div class="panel-body">
            <h4>Gumsnipp.com</h4>
            <p>Gumsnipp is an element gallery for web designers and web developers, anybody who is using Gumby framework  will find this website essential in their craft. Made with Rails 4.</p>
          </div>
          <div class="panel-footer text-center">
            <a href="http://www.gumsnipp.com" target="_blank"><span class="glyphicon glyphicon-eye-open"></span></a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="panel panel-default">
          <div class="panel-image hide-panel-body">
            <img src="img/projects/gdanskcurlingclub_thumb.png" class="panel-image-preview" />
            <label for="toggle-2"></label>
          </div>
          <div class="panel-body">
            <h4>Gdanskcurlingclub.pl</h4>
            <p>Gdansk curling club was initiated by people who want to promote this winter, Olympic sports discipline. The organizers of the international tournament "AMBER STONE" Baltic Cup. Made with Rails 3.</p>
          </div>
          <div class="panel-footer text-center">
            <a href="http://gdanskcurlingclub.pl" target="_blank"><span class="glyphicon glyphicon-eye-open"></span></a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="panel panel-default">
          <div class="panel-image">
            <img src="img/projects/osplesniewo_thumb.png" class="panel-image-preview" />
            <label for="toggle-3"></label>
          </div>
          <div class="panel-body">
            <h4>OSP-lesniewo.pl</h4>
            <p>Website poland fire brigade from Leśniewo. The project was created with the use of technology Rails 3.</p>
          </div>
          <div class="panel-footer text-center">
            <a href="http://osp-lesniewo.pl" target="_blank"><span class="glyphicon glyphicon-eye-open"></span></a>
          </div>
        </div>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-xs-12 col-md-4">
        <div class="panel panel-default">
          <div class="panel-image">
            <img src="img/projects/autosteeler_thumb.jpg" class="panel-image-preview" />
            <label for="toggle-1"></label>
          </div>
          <div class="panel-body">
            <h4>Steeler.pl</h4>
            <p>The website was created for the company Steeler, which specializes in the production of pipings for off-road vehicles and is a major supplier of accessories for 4x4. The project was created with the use of technology Drupal 7.</p>
          </div>
          <div class="panel-footer text-center">
            <a href="http://steeler.pl" target="_blank"><span class="glyphicon glyphicon-eye-open"></span></a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="panel panel-default">
          <div class="panel-image hide-panel-body">
            <img src="img/projects/conststeeler_thumb.jpg" class="panel-image-preview" />
            <label for="toggle-2"></label>
          </div>
          <div class="panel-body">
            <h4>construction.steeler.pl</h4>
            <p>Home Co.Steeler company engaged in the execution of steel structures and services in the field of laser cutting, sheet metal bending, CNC machines. The project is made in clean html.</p>
          </div>
          <div class="panel-footer text-center">
            <a href="http://www.construction.steeler.pl" target="_blank"><span class="glyphicon glyphicon-eye-open"></span></a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="panel panel-default">
          <div class="panel-image">
            <img src="img/projects/neosteel_thumb.jpg" class="panel-image-preview" />
            <label for="toggle-3"></label>
          </div>
          <div class="panel-body">
            <h4>neosteel.pl</h4>
            <p>Website project for the company neosteel dealing with the implementation of stainless steel railings.
               Made with Joomla 2.5.</p>
          </div>
          <div class="panel-footer text-center">
            <a href="http://neosteel.pl" target="_blank"><span class="glyphicon glyphicon-eye-open"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="container">
    <div class="row progress-steps" role="tablist">
      <div class="col-md-2 col-md-offset-1 text-center">
        <div class="img-circle active">
          <a href="#planing" role="tab" data-toggle="tab">
            <img src="img/steps/icon_planning.png" />
          </a>
        </div>
        <span class="status">Planing</span>
      </div>

      <div class="col-md-2 text-center">
        <div class="img-circle">
          <a href="#design" role="tab" data-toggle="tab">
            <img src="img/steps/icon_design.png" />
          </a>
        </div>
        <span class="status">Design</span>
      </div>

      <div class="col-md-2 text-center">
        <div class="img-circle">
          <a href="#development" role="tab" data-toggle="tab">
            <img src="img/steps/icon_development.png" />
          </a>
        </div>
        <span class="status">Development</span>
      </div>

      <div class="col-md-2 text-center">
        <div class="img-circle">
          <a href="#testing" role="tab" data-toggle="tab">
            <img src="img/steps/icon_testing.png" />
          </a>
        </div>
        <span class="status">Testing</span>
      </div>

      <div class="col-md-2 text-center">
        <div class="img-circle">
          <a href="#launch" role="tab" data-toggle="tab">
            <img src="img/steps/icon_launch.png" />
          </a>
        </div>
        <span class="status">Launch</span>
      </div>
    </div>

    <div class="lead description tab-content">
      <div class="tab-pane fade in active" id="planing">
        Tell us your idea by describing it to us and we will give the best suggestion to ensure the success of your idea into reality.
      </div>
      <div class="tab-pane fade" id="design">
        We create attractive and stunning design for clients to make it outstanding among others as reflections of their business.
      </div>
      <div class="tab-pane fade" id="development">
        After planing and design finished, then we can start the project while you can always contact them directly to consult everyday.
      </div>
      <div class="tab-pane fade" id="testing">
        We write tests first as part of problem solving process and run tests often to ensure quality of the software.
      </div>
      <div class="tab-pane fade" id="launch">
        You are not left alone after you launch your app. We are here to help, resolve all issues or scale to handle increased traffic.
      </div>
    </div>
  </div>
</div>

<div class="content-prices" id="prices">
  <div class="container">
    <h2 class="heading text-center">
      <div class="box">Prices</div>
    </h2>

    <div class="row">
      <div class="col-md-3">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h4 class="text-center">Easy Site</h4>
          </div>
          <div class="panel-body text-center">
            <p class="lead"><strong>price per one page</strong></p>
          </div>
          <ul class="list-group list-group-flush text-center">
            <li class="list-group-item"><i class="icon-ok text-danger"></i>html5 / ccs3</li>
            <li class="list-group-item"><i class="icon-ok text-danger"></i>unlimited pages</li>
            <li class="list-group-item"><i class="icon-ok text-danger"></i>27/7 support</li>
          </ul>
          <div class="panel-footer">
            <a class="btn btn-lg btn-block btn-success" href="mailto:ourmail@o2.pl">$33</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h4 class="text-center">Shop</h4>
          </div>
          <div class="panel-body text-center">
            <p class="lead"><strong>one shop ready to used</strong></p>
          </div>
          <ul class="list-group list-group-flush text-center">
            <li class="list-group-item"><i class="icon-ok text-danger"></i>ruby on rails</li>
            <li class="list-group-item"><i class="icon-ok text-danger"></i>unlimited products</li>
            <li class="list-group-item"><i class="icon-ok text-danger"></i>27/7 support</li>
          </ul>
          <div class="panel-footer">
            <a class="btn btn-lg btn-block btn-success" href="mailto:ourmail@o2.pl">$400</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h4 class="text-center">Design</h4>
          </div>
          <div class="panel-body text-center">
            <p class="lead"><strong>unique layout</strong></p>
          </div>
          <ul class="list-group list-group-flush text-center">
            <li class="list-group-item"><i class="icon-ok text-danger"></i>version in .psd</li>
            <li class="list-group-item"><i class="icon-ok text-danger"></i>unlimited webside</li>
            <li class="list-group-item"><i class="icon-ok text-danger"></i>27/7 support</li>
          </ul>
          <div class="panel-footer">
            <a class="btn btn-lg btn-block btn-success" href="mailto:ourmail@o2.pl">$330</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h4 class="text-center">FREE PLAN</h4>
          </div>
          <div class="panel-body text-center">
            <p class="lead"><strong>your needs</strong></p>
          </div>
          <ul class="list-group list-group-flush text-center">
            <li class="list-group-item"><i class="icon-ok text-danger"></i>any technology</li>
            <li class="list-group-item"><i class="icon-ok text-danger"></i>unlimited ideas</li>
            <li class="list-group-item"><i class="icon-ok text-danger"></i>27/7 support</li>
          </ul>
          <div class="panel-footer">
            <a class="btn btn-lg btn-block btn-success" href="mailto:ourmail@o2.pl">$$$</a>
          </div>
        </div>
      </div>
    </div>

    <p class="lead description">The following prices are indicative prices.</p>
  </div>
</div>

<div class="content-faq" id="faq">
  <div class="container">
    <h2 class="heading text-center">
      <div class="box">FAQ</div>
    </h2>

    <div class="question">
      <h4>How is the preparation of the project on behalf of?</h4>
      <p>We receive guidance, expectations, possibly links to similar pages. We begin the design process on an ongoing basis by contacting and making corrections. This process can take anywhere from two weeks to a month. The result is a file format psd. The project is valued independently of the rest of the construction site.</p>
    </div>

    <div class="question">
      <h4>Do you accept the finished graphic designs made ​​by other designers?</h4>
      <p>Of course, yes. Then cut the layout and surrender to the process of coding HTML and CSS. This is the "easy-side". Sometimes the other hand are very similar. Then revise the price.</p>
    </div>

    <div class="question">
      <h4>Do you accept done so. template?</h4>
      <p>Of course it is. It's a very good way to cost of the portal or shop was lower.</p>
    </div>

    <div class="question">
      <h4>Is the price for the portal or the store is always the same?</h4>
      <p>No. Only an analysis of the project and expectations can make a final evaluation. The price is rather provided to be able to assess the magnitude cost.</p>
    </div>
  </div>
</div>
