body, html {
  width: 100%;
  height: 100%;
  position: relative;
}

body,h1,h2,h3,h4,h5,h6 {
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
}

#home {
  padding-top: 58px;
}

a {
  color: #D5F1A5;
}

a:hover {
    color: #aaa;
}

.content-prices .row, .content-projects .row {
  margin: 50px 0px;
}

.circle-progress .lead {
  text-align: center;
  margin-top: 10px;
}

.radial-progress {
  margin: 0px auto !important;
}

.carousel-control {
  width: 0px;
}

.glyphicon-chevron-left {
  margin: 0px 0px 0px 20px !important;
}

.glyphicon-chevron-right {
  margin: 0px 20px 0px 0px !important;
}

.navbar-default {
  background-color: #FFF;
  z-index: 10000;
}

.navbar-default li.active a {
  background-color: #D5F1A5 !important;
  color: #000 !important;
}

@media (min-width: 768px) {
  .navbar-default li a {
    border-top: 5px solid #FFF;
  }

  .navbar-default li.active a {
    border-top: 5px solid #95C53E;
    background-color: #FFF !important;
  }
}
.navbar-brand {
    margin-top: 3px;
    width: 200px;
    height: 60px;
    background: url(../img/logo_header4.png) no-repeat center center;
}

.intro-header * {
  text-shadow: 0 0 0.4em #95C53E, 0 0 0.4em #95C53E, 0 0 0.4em #95C53E;
}

.content-section-a {
  background-color: #7eF;
}

.lead {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0px;
}

.grayscale {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  filter: gray;
  -webkit-transition: all .6s ease;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
}

.socials {
  margin-top: 50px;
  margin-left:20px;
}

.socials a {
  margin-right: 15px;
  display: inline-block;
}

.socials img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

.obiwan-img {
  height: 400px;
}

.progress {
  margin-bottom: 15px;
}

.intro-header {
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  background-color: #1B1B1B;
  background-size: cover;
}

.intro-message {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}

.intro-message > h1 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  font-size: 5em;
}

.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

ul.intro-social-buttons {
  margin: 0px;
}

@media(max-width:767px) {
  .intro-message {
    padding-bottom: 15%;
  }

  .intro-message > h1 {
    font-size: 3em;
  }

  ul.intro-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.intro-social-buttons > li:last-child {
    margin-bottom: 0;
  }

  .intro-divider {
    width: 100%;
  }
}

.network-name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}

.content-social-buttons {
  padding: 20px 0;
  background-color: #f8f8f8;
}

.container .heading { margin-top: -52px }

.container > .heading .box {
  display:inline-block;
  padding: 25px;
  border-bottom-left-radius: 110px;
  border-bottom-right-radius: 110px;
  border: solid 0.5px lightgray;
  border-top: 0px;
  box-shadow: 1px 7px 5px #888;
  color: #95C53E;
    background-color: white;
    width: 165px;
}

.container hr {
  margin-top: 10px;
}

.description {
  margin: 30px 0px;
  font-size: 20px;
  background-color: #fdfdfd;
  padding: 20px;
  border: 1px solid #ddd;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.content-faq  .question {
  border-left: 7px solid #95C53E;
  padding: 2px 10px;
  margin: 50px 0px;
  box-shadow: 0 8px 6px -6px #999;
  -webkit-box-shadow: 0 8px 6px -6px  #999;
  -moz-box-shadow: 0 8px 6px -6px  #999;
}

.content-skills .circle-progress > div {
  margin: 20px 0px !important;
}

.content-skills .circle-progress  > div > div {
  border: 1px solid #ccc;
  border-right: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  padding: 20px 0px;
}

.content-skills, .content-projects, .content-about-us, .content-prices, .content-faq {
  padding: 50px 0;
  border-top: 1px solid #e7e7e7;
}

.content-team {
  width: 100%;
  color: #fff;
  background-color: #1B1B1B;
}

.heading {
  margin-bottom: 50px;
}

.section-heading-spacer {
  float: left;
  width: 200px;
  border-top: 3px solid #e7e7e7;
}

.banner {
  padding: 100px 0;
  color: #f8f8f8;
  background: url(../img/banner-bg.jpg) no-repeat center center;
  background-size: cover;
}

.banner h2 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  font-size: 3em;
}

.banner ul {
  margin-bottom: 0;
}

.banner-social-buttons {
  float: right;
  margin-top: 0;
}

@media(max-width:1199px) {
  ul.banner-social-buttons {
    float: left;
    margin-top: 15px;
  }
}

@media(max-width:767px) {
  .banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
  }

  ul.banner-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.banner-social-buttons > li:last-child {
    margin-bottom: 0;
  }
}

p.copyright {
  margin: 15px 0 0;
}
.progress {
  position: relative;
  height: 25px;
}
.progress > .progress-type {
  position: absolute;
  left: 0px;
  font-weight: 800;
  padding: 3px 30px 2px 10px;
  color: rgb(255, 255, 255);
  background-color: rgba(25, 25, 25, 0.2);
}
.progress > .progress-completed {
  position: absolute;
  right: 0px;
  font-weight: 800;
  padding: 3px 10px 2px;
}

.content-projects .panel {
  overflow: hidden;
  position: relative;

}

.content-projects .panel-image {
  position: relative;
}
.content-projects .panel-image img.panel-image-preview {
  width: 100%;
  border-radius: 4px 4px 0px 0px;
}

.content-projects .panel-image label {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.content-projects .panel-heading ~ .panel-image img.panel-image-preview {
  border-radius: 0px;
}

.content-projects .panel-body {
  display: block;
  height: 0px;
  padding: 0px;
  position: absolute;
  bottom: -100%;
  transition: bottom 0.2s linear 0.2s;
}

.content-projects .panel:hover .panel-body {
  padding: 15px;
  background: #1B1B1B;
  color: #FFF;
  height: 100%;
  width: 100%;
  bottom: 0;
}

.content-projects .panel:hover .panel-body  h4{
  color: #D5F1A5;
}

.content-projects .panel-image ~ .panel-footer a {
  padding: 0px 10px;
  font-size: 1.3em;
  color: rgb(100, 100, 100);

}

.panel-footer a.btn-success {
  background-color: #95c53e;
    -webkit-box-shadow: 0px 5px 13px 0px rgba(51, 50, 50, 0.41);
    -moz-box-shadow:    0px 5px 13px 0px rgba(51, 50, 50, 0.41);
    box-shadow:         0px 5px 13px 0px rgba(51, 50, 50, 0.41);
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(150, 150, 150, 1);
}

#footer {
  background-color: #1B1B1B;
  padding: 50px 0px;
  color: #fff;
  font-size: 17px;
}

#footer li {
  color: #D5F1A5;
}

#footer h4 {
    color: #fff;
}

.facebook-icon, .twitter-icon, .googleplus-icon, .elance-icon {
  width: 48px;
  height: 48px;
  display: inline-block;
}

.facebook-icon {
     background-image: url(../img/socials/facebook.png);
 }

.twitter-icon {
    background-image: url(../img/socials/twitter.png);
}

.googleplus-icon {
    background-image: url(../img/socials/googleplus.png);
}

.elance-icon {
    background-image: url(../img/socials/elance.png);
}

.facebook-icon:hover {
    background-image: url(../img/socials/facebook_col.png);
}

.twitter-icon:hover {
     background-image: url(../img/socials/twitter_col.png);
 }

.googleplus-icon:hover {
    background-image: url(../img/socials/googleplus_col.png);
}

.elance-icon:hover {
    background-image: url(../img/socials/elance_col.png);
}

.progress-steps {
  margin: 50px 0px;

}

.progress-steps .status {
  display:block;
  margin: 20px 0px;
  font-size: 14px;
}

.progress-steps img {
  width: 80px;
  height: auto;
}

.progress-steps .img-circle {
  display: inline-block;
  border: 1px solid #DDD;
  padding: 7px;
  box-shadow: 0px 0px 10px 0px #999;
  background-color: #FDFDFD;
}

.progress-steps .img-circle:hover {
  box-shadow: 0px 0px 20px 0px #95C53E;
}

.progress-steps a:focus {
  outline:0;
}

.content-prices .panel-heading {
  background-color: orange !important;
    -webkit-box-shadow: 0px 7px 11px 0px rgba(51, 50, 50, 0.66);
    -moz-box-shadow:    0px 7px 11px 0px rgba(51, 50, 50, 0.66);
    box-shadow:         0px 7px 11px 0px rgba(51, 50, 50, 0.66);

}

#prices{
    background-color: rgba(149, 197, 62, 0.3);
}


.content-prices .panel-heading h4{

    background-color: orange !important;
    color: white;
    font-size: 30px !important;
    text-shadow: 2px 1px 7px rgba(150, 150, 150, 1);

}

.panel-success{

}
.troche_nizej{
    margin-top: 20px;
}

.photo img{
    width: 150px;
    height: 188px;
    -webkit-box-shadow: 0px 3px 13px 0px rgba(50, 50, 50, 0.83);
    -moz-box-shadow:    0px 3px 13px 0px rgba(50, 50, 50, 0.83);
    box-shadow:         0px 3px 13px 0px rgba(50, 50, 50, 0.83);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.team-names {
    font-size: 22px;
}

.line-shadow{
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(90deg, rgb(255, 255, 255) 84%, rgb(149, 197, 62) 100%);
    background: -webkit-linear-gradient(90deg, rgb(255, 255, 255) 84%, rgb(149, 197, 62) 100%);
    background: -o-linear-gradient(90deg, rgb(255, 255, 255) 84%, rgb(149, 197, 62) 100%);
    background: -ms-linear-gradient(90deg, rgb(255, 255, 255) 84%, rgb(149, 197, 62) 100%);
    background: linear-gradient(180deg, rgb(255, 255, 255) 84%, rgb(149, 197, 62) 100%);

}

.form-control {
  border: 0px solid #95C53E;
  background-color: #111;
}

.form-control:focus {
  border: 1px solid #95C53E;
}